<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="add">
        <div>姓：<input type="text" v-model="fristName"></div>
        <div>名：<input type="text" v-model="lastName"></div>
        <div>全名：<input type="text"  v-model="fullName"></div>
    </div>
</body>
<script>
    // new Vue({
    //     el:'#add',
    //     data:{
    //         fristName:'韩',
    //         lastName:'雨泽',
    //     },
    //     computed:{
    //         fullName:{
    //             get(){
                    
    //                 setTimeout(function(){
    //                     console.log('我是被读取的');
    //                     return this.fristName+'-'+this.lastName
    //                 }, 1000);
                   
    //             },
    //             set(val){
    //                 let result=val.split('-')
    //                 this.fristName=result[0]
    //                 this.lastName=result[1]
    //                 console.log(val.split('-'));
    //             }
    //         }
    //     }
    // })



    // ________________________________________



    // new Vue({
    //     el:'#add',
    //     data:{
    //         fristName:'韩',
    //         lastName:'雨泽',
    //     },
    //     computed:{
    //         fullName:{
    //             get(){
                    
    //                 setTimeout(function(){
    //                     console.log('我是被读取的');
    //                     return this.fristName+'-'+this.lastName
    //                 }, 1000);
                   
    //             },
    //             set(val){
    //                 let result=val.split('-')
    //                 this.fristName=result[0]
    //                 this.lastName=result[1]
    //                 console.log(val.split('-'));
    //             }
    //         }
    //     }
    // })




//————————————————————————————————————————————————————————————————





// new Vue({
//         el:'#add',
//         data:{
//             fristName:'韩',
//             lastName:'雨泽',
//         },
//         computed:{
//             fullName:{
//                 get(){
                    
//                     setTimeout(function(){
//                         console.log('我是被读取的');
//                         return this.fristName+'-'+this.lastName
//                     }, 1000);
                   
//                 },
//                 set(val){
//                     let result=val.split('-')
//                     this.fristName=result[0]
//                     this.lastName=result[1]
//                     console.log(val.split('-'));
//                 }
//             }
//         }
//     })
</script>
</html>